.body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300px;
    background-position: 50% 25%; 
    background-image: url(../../../../assets/images/Team-Liquid.png);
}