<div class="flex flex-col w-full h-full">
    <div class="flex w-full h-20 bg-gray-50">
        <div class="flex justify-between w-full h-full">
            <div class="flex h-full pl-12 items-center text-blue-900 text-3xl font-dancingscript ">
                Liquid Community
            </div>
            <div class="flex pr-5 justify-center h-full w-60 items-center" *ngIf="!user_status">
                <button mat-button color="primary" class="flex w-20 text-lg font-noto" (click)="openLoginModal()">Login</button>
                <button mat-button color="primary" class="flex w-20 text-lg font-noto" [routerLink]="['/register']">Register</button>
            </div>
            <div class="flex pr-5 justify-center h-full w-60 items-center" *ngIf="user_status">
                <button mat-button color="primary" class="flex w-20 text-lg font-noto">{{name}}</button>
            </div>
        </div>
    </div>
    <div class="flex flex-col w-full h-full bg-gray-100">
        <div class="flex w-full body h-72">
        </div>
        <div class="pt-5 grid grid-cols-4 gap-8 items-center self-center">
            <button  mat-flat-button color="primary" [routerLink]="['/find']">Find Members</button>
            <button  mat-flat-button color="accent" [routerLink]="['/mentors']">Find Mentors</button>
            <button  mat-flat-button color="primary" [routerLink]="['/viewsponsorships']">View Sponsorships</button>
            <button  mat-flat-button color="accent" [routerLink]="['/createsponsorship']">Create Sponsorship</button>
        </div>
        <div class="pt-10 grid grid-cols-2 gap-8 items-center self-center">
            <button  mat-flat-button color="primary" [routerLink]="['/viewmysponsorships']">My Sponsorships</button>
            <button  mat-flat-button color="accent">View Latest Events</button>
        </div>
    </div>
</div>
